<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Loyality Portal">
    <meta name="author" content="Supme">

    <title>{{ constant('SITE_NAME') }} :: {{ page_title }}</title>

    <link rel="stylesheet" href="/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/loyalty.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {% if is_login %}
        <script src="/js/tinymce/tinymce.min.js"></script>
        <script src="/js/loyalty.js"></script>
    {% endif %}

</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid mce"></div>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ constant('URL') }}">Loyality programs</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if right == 2 %}
                    <li>
                        <a onclick="edit()">Edit</a>
                    </li>
                {% endif %}
                <li>
                    {% if is_login %}
                        <a href="{{ constant('URL') }}login/">You login as {{ username }}</a>
                    {% else %}
                        <a href="{{ constant('URL') }}login/">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for kmap,map in site_map.1 %}
                    {% if map.visible  %}
                        <li>
                            <a href="{{ constant('URL') }}{{ kmap }}">{{ map.title }}</a>
                        </li>
                    {% endif %}
                {%  endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if notifications is defined  %}
            {% for type,notification in notifications %}
                {% for notes in notification %}
                    <div class="alert alert-{{ type }} fade in">
                        {{ notes|e}} <a class="close" data-dismiss="alert" href="#">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% include view %}

        {% if debug is defined  %}
            <div class="alert alert-warning  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% for key,value in debug %}
                    <h4>{{ key }}</h4>
                    {{ value|e }}
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>
